<div class="container-fluid" *ngIf="(approval)">

  <div class="row">
    <span class="col-md-2 badge rounded-pill bg-warning mb-3 fs-5 start">Approval Data</span>
    <h3 class="col-md-2 mx-auto text-capitalize fw-bold fst-italic text-decoration-underline"
      [ngClass]="this.onlineStatus[this.approval.onlineStatusId]">
      {{this.onlineStatus[this.approval.onlineStatusId]}}.
    </h3>
    <button *ngIf="approval.onlineStatusId == onlineStatus.dispensed" type="button"
      class="btn btn-success col-md-1 end mb-3" (click)="print()">
      <i class="bi bi-printer"></i> Print
    </button>

  </div>

  <!-- Approval Master -->
  <div class="row">

    <div class="col">

      <div class="row fw-bold fst-italic">

        <label *ngIf="isCMC()" for="planMaster" class="col-md-2 col-form-label">Masters Benefits</label>
        <div *ngIf="isCMC()" class="col-md-2">
          <select class="form-select form-select-sm mt-1" id="planMaster" name="planMaster" [(ngModel)]="masterBenefit"
            (ngModelChange)="onMasterBenefitChange()" required>
            <option [value]="masterBenefit" disabled hidden>Select</option>
            <option *ngFor="let master of (masterBenefits$ | async)" [ngValue]="master">
              {{master.masterBenefitName}}
            </option>
          </select>
        </div>

        <label *ngIf="isCMC()" for="planBenefit" class="col-md-2 col-form-label">Benefits</label>
        <div *ngIf="isCMC()" class="col-md-2">
          <select class="form-select form-select-sm mt-1" id="planBenefit" name="planBenefit" [(ngModel)]="benefit"
            (ngModelChange)="onBenefitChange()">
            <option [value]="benefit" disabled hidden>Select</option>
            <option *ngFor="let benefit of (benefits$ | async)" [ngValue]="benefit">
              {{benefit.benefitName}}
            </option>
          </select>
        </div>

        <label for="copayment" class="col-md-2 col-form-label">CoPayment Per</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="copayment" readonly
            value="{{approval.approvalCopaymentPer | percent}}">
        </div>

      </div>

      <div class="row fw-bold fst-italic">
        <label for="approvalNumber" class="col-md-2 col-form-label">Approval Number</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="approvalNumber" readonly
            value="{{approval.approvalNumber}}">
        </div>

        <label for="approvalDate" class="col-md-2 col-form-label">Approval Date</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="approvalDate" readonly
            value="{{approval.procedureDate | date}}">
        </div>

        <label for="claimNumber" class="col-md-2 col-form-label">Claim Number</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="claimNumber" readonly
            value="{{approval.claimNumber}}">
        </div>
      </div>

      <div class="row fw-bold fst-italic">
        <label for="name" class="col-md-2 col-form-label">Member Name</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="name" readonly
            value="{{approval.memberName}}">
        </div>

        <label for="cardNumber" class="col-md-2 col-form-label">Card Number</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="cardNumber" readonly
            value="{{approval.cardNumber}}">
        </div>

        <label for="ceiling" class="col-md-2 col-form-label">Available Ceiling</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="ceiling" readonly
            value="{{availableCeiling | number}}">
        </div>
      </div>

      <div class="row fw-bold fst-italic">
        <label for="plan" class="col-md-2 col-form-label">Member Plan</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="plan" readonly value="{{approval.planName}}">
        </div>

        <label for="customer" class="col-md-2 col-form-label">Customer Name</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="customer" readonly
            value="{{approval.customerName}}">
        </div>

        <label for="status" class="col-md-2 col-form-label">Member Status</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="status" readonly
            value="{{approval.memberStatus}}">
        </div>

      </div>

      <div class="row fw-bold fst-italic">
        <label for="provider" class="col-md-2 col-form-label">Provider Name</label>
        <div class="col-md-6">
          <input type="text" class="form-control form-control-sm mt-1" id="provider" readonly
            value="{{approval.providerName}}">
        </div>

        <label for="providerCat" class="col-md-2 col-form-label">Provider Cat</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="providerCat" readonly
            value="{{approval.providerCatName}}">
        </div>
      </div>

      <div class="row fw-bold fst-italic">
        <label for="diagnosis" class="col-md-2 col-form-label">Diagnosis</label>
        <div class="col-md-6">
          <input type="text" class="form-control form-control-sm mt-1" id="diagnosis" readonly
            value="{{approval.diagnosis}}">
        </div>

        <label for="ICDCode" class="col-md-2 col-form-label">ICDCode</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="ICDCode" readonly
            value="{{approval.icdCode}}">
        </div>
      </div>

      <div class="row fw-bold fst-italic">
        <label for="printedNote" class="col-md-2 col-form-label">Provider Notes</label>
        <div class="col-md-10">
          <textarea type="text" class="form-control form-control-sm mt-1" id="printedNote" readonly
            [value]="approval.printedNotes"></textarea>
        </div>
      </div>

      <div class="row mb-3 fw-bold fst-italic">
        <label for="internalNote" class="col-md-2 col-form-label">CMC Notes</label>
        <div class="col-md-10">
          <textarea type="text" class="form-control form-control-sm mt-1" id="internalNote" name="internalNotes"
            [(ngModel)]="approval.internalNotes" [readonly]="isProviderUser()"></textarea>
        </div>
      </div>

    </div>

    <!-- CMC Ceiling Summary -->
    <div *ngIf="isCMC()" class="col-md-3 mb-1 mt-1">
      <div>
        <table class="table table-sm table-bordered mb-1">
          <thead>
            <tr class="bg-warning text-white">
              <th>Ceiling</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>Annual</td>
              <td class="fw-bold text-success">{{ ceiling.annualCeiling | number }}</td>
            </tr>
            <tr>
              <td>Remaining Annual</td>
              <td class="fw-bold text-success">{{ ceiling.remainingAnnual | number }}</td>
            </tr>
            <tr>
              <td>Master Benefit</td>
              <td class="fw-bold text-success">{{ ceiling.masterCeiling | number }}</td>
            </tr>
            <tr>
              <td>Remainig Master</td>
              <td class="fw-bold text-success">{{ ceiling.remainingMaster | number }}</td>
            </tr>
            <tr>
              <td>Benefit</td>
              <td class="fw-bold text-success">{{ ceiling.benefitCeiling | number }}</td>
            </tr>
            <tr>
              <td>Remianig Benefit</td>
              <td class="fw-bold text-success">{{ ceiling.remainingBenefit | number }}</td>
            </tr>
          </thead>
        </table>
      </div>
      <div class="d-grid gap">
        <p class="fw-bold">
          The last action date was
          <span class="text-warning">{{approval.lastActionDate | date}}</span>,
          for more details see
          <a type="button" class="link-primary " data-bs-toggle="modal" data-bs-target="#approvalHistory"
            (click)="getMemberApprovals(approval.planMemberId)">approvals
            history</a>
        </p>
      </div>
    </div>
  </div>

  <!-- Approval Items -->
  <span class="badge rounded-pill bg-warning mb-3 fs-5 start">Approval Services</span>
  <div class="row">
    <table class="table table-bordered table-responsive table-sm">
      <thead class="fst-italic text-center">
        <tr>
          <th>Service Name</th>
          <th>Quantity</th>
          <th>Unit Amt</th>
          <th>Service Amt</th>
          <!-- <th>Copayment Per</th> -->
          <th>Copayment Amt</th>
          <th>Dosage</th>
          <th>Dosgae Per Day</th>
          <th>Dosgae Times</th>
          <th>Dosgae Days</th>
          <th *ngIf="isCMC()"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of approval.approvalItems" class="text-center"
          [class.text-decoration-line-through]="item.status === rejected">
          <td>
            {{item.serviceName}} <br>
            <span class="badge rounded-pill bg-warning text-dark" *ngIf="isCMC() && !item.isCovered">Not Covered</span>
          </td>
          <td>{{item.serviceQnt}}</td>
          <td>{{item.serviceUnitAmt}}</td>
          <td>{{item.serviceTotalAmt}}</td>
          <!-- <td>{{item.serviceCopaymentPer}}</td> -->
          <td>{{item.serviceCopaymentAmt}}</td>
          <td>{{item.dosage}}</td>
          <td>{{item.dosagePerDay}}</td>
          <td>{{item.dosageTime}}</td>
          <td>{{item.dosageDays}}</td>

          <td *ngIf="isCMC()" class="text-center fst-italic">
            <button *ngIf="item.status === rejected" type="button" class="btn btn-outline-success btn-sm"
              (click)="toggleItem(item)">Accept</button>
            <button *ngIf="item.status !== rejected" type="button" class="btn btn-outline-danger btn-sm"
              (click)="toggleItem(item)">reject</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <!-- Approval Total Prices Summary -->
  <div class="row mb-3 fw-bolder fst-italic text-center text-primary">
    <label for="appAmt" class="form-label col-md-3">Total Approval Amount</label>
    <div class="col-md-1">
      <input type="text" class="form-control form-control-sm" value="{{approval.approvalAmt | number}}" readonly>
    </div>

    <label for="copaymentAmt" class="form-label col-md-3">Total Copayment Amount</label>
    <div class="col-md-1">
      <input type="number" class="form-control form-control-sm" value="{{approval.approvalCopaymentAmt | number}}"
        readonly>
    </div>

    <label for="maxAmt" class="form-label col-md-3">Maximum Approval Amount</label>
    <div class="col-md-1">
      <input type="number" class="form-control form-control-sm" [(ngModel)]="approval.maxApprovalAmt"
        [disabled]="isProviderUser()" (change)="maxAmtCopayment()">
    </div>
    <!-- <span class="text-danger" *ngIf="approval.maxApprovalAmt > approval.approvalAmt">
      Maximum amount should be smaller than total approval amount.
    </span> -->

  </div>

  <!-- Accept & Reject Btns for CMC Doctor -->
  <div class="row mb-3" *ngIf="isCMC()">
    <div class="d-grid gap-2 d-md-flex justify-content-center">

      <button type="button" class="col-md-2 btn btn-success" (click)="onSubmitApproval(onlineStatus.accepted)"
        [disabled]="(isValidApproval())">Accept</button>

      <button type="button" class="col-md-2 btn btn-danger"
        (click)="onSubmitApproval(onlineStatus.rejected)">Reject</button>

    </div>
  </div>

  <!-- Dispense Btn For Provider User -->
  <div class="row mb-3" *ngIf="isReviewedByCMC()">
    <div class="d-grid gap-2 d-md-flex justify-content-center">
      <button type="button" class="col-md-2 btn btn-success" (click)="onDispense()">Dispense</button>
      <button type="button" class="col-md-2 btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>

<!-- Bootstrap Modal For CMC (Approval History) -->
<app-bs-modal [id]="'approvalHistory'" [title]="'Approvals History'" [fullScreen]=true>
  <!-- modal body Content -->
  <app-display-approvals-list [approvals$]="approvalsHistory$"></app-display-approvals-list>
</app-bs-modal>
