<div class="container-fluid" *ngIf="(approval)">

  <span class="badge rounded-pill bg-warning mb-3 fs-5">Approval Data</span>

  <div class="row">

    <div class="col-md-10">

      <div class="row fw-bold fst-italic">
        <label for="planMaster" class="col-md-2 col-form-label">Masters Benefits</label>
        <div class="col-md-2">
          <select class="form-select form-select-sm mt-1" id="planMaster" name="planMaster" [(ngModel)]="masterBenefit"
            (ngModelChange)="onMasterBenefitChange()" required>
            <option [value]="masterBenefit" disabled hidden>Select</option>
            <option *ngFor="let master of (masterBenefits$ | async)" [ngValue]="master">
              {{master.masterBenefitName}}
            </option>
          </select>
        </div>

        <label for="planBenefit" class="col-md-2 col-form-label">Benefits</label>
        <div class="col-md-2">
          <select class="form-select form-select-sm mt-1" id="planBenefit" name="planBenefit" [(ngModel)]="benefit"
            (ngModelChange)="onBenefitChange()">
            <option [value]="benefit" disabled hidden>Select</option>
            <option *ngFor="let benefit of (benefits$ | async)" [ngValue]="benefit">
              {{benefit.benefitName}}
            </option>
          </select>
        </div>

        <label for="copayment" class="col-md-2 col-form-label">CoPayment Per</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="copayment" readonly
            value="{{approval.approvalCopaymentPer | percent}}">
        </div>

      </div>

      <div class="row fw-bold fst-italic">
        <label for="approvalNumber" class="col-md-2 col-form-label">Approval Number</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="approvalNumber" readonly
            value="{{approval.approvalNumber}}">
        </div>

        <label for="approvalDate" class="col-md-2 col-form-label">Approval Date</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="approvalDate" readonly
            value="{{approval.approvalDate | date}}">
        </div>

        <label for="claimNumber" class="col-md-2 col-form-label">Claim Number</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="claimNumber" readonly
            value="{{approval.claimNumber}}">
        </div>
      </div>

      <div class="row fw-bold fst-italic">
        <label for="name" class="col-md-2 col-form-label">Member Name</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="name" readonly
            value="{{approval.memberName}}">
        </div>

        <label for="cardNumber" class="col-md-2 col-form-label">Card Number</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="cardNumber" readonly
            value="{{approval.cardNumber}}">
        </div>

        <label for="ceiling" class="col-md-2 col-form-label">Available Ceiling</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="ceiling" readonly value="{{availableCeiling}}">
        </div>
      </div>

      <div class="row fw-bold fst-italic">
        <label for="plan" class="col-md-2 col-form-label">Member Plan</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="plan" readonly value="{{approval.planName}}">
        </div>

        <label for="customer" class="col-md-2 col-form-label">Customer Name</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="customer" readonly
            value="{{approval.customerName}}">
        </div>

        <label for="status" class="col-md-2 col-form-label">Member Status</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="status" readonly
            value="{{approval.memberStatus}}">
        </div>

      </div>

      <div class="row fw-bold fst-italic">
        <label for="provider" class="col-md-2 col-form-label">Provider Name</label>
        <div class="col-md-6">
          <input type="text" class="form-control form-control-sm mt-1" id="provider" readonly
            value="{{approval.providerName}}">
        </div>

        <label for="providerCat" class="col-md-2 col-form-label">Provider Cat</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="providerCat" readonly
            value="{{approval.providerCatName}}">
        </div>
      </div>

      <div class="row fw-bold fst-italic">
        <label for="diagnosis" class="col-md-2 col-form-label">Diagnosis</label>
        <div class="col-md-6">
          <input type="text" class="form-control form-control-sm mt-1" id="diagnosis" readonly
            value="{{approval.diagnosis}}">
        </div>

        <label for="ICDCode" class="col-md-2 col-form-label">ICDCode</label>
        <div class="col-md-2">
          <input type="text" class="form-control form-control-sm mt-1" id="ICDCode" readonly
            value="{{approval.icdCode}}">
        </div>
      </div>

      <div class="row fw-bold fst-italic">
        <label for="printedNote" class="col-md-2 col-form-label">Provider Notes</label>
        <div class="col-md-10">
          <textarea type="text" class="form-control form-control-sm mt-1" id="printedNote" readonly value=""></textarea>
        </div>
      </div>

      <div class="row mb-3 fw-bold fst-italic">
        <label for="internalNote" class="col-md-2 col-form-label">Internal Notes</label>
        <div class="col-md-10">
          <textarea type="text" class="form-control form-control-sm mt-1" id="internalNote" readonly
            value=""></textarea>
        </div>
      </div>

    </div>

    <div class="col-md-2 mb-3">
      <ul class="list-group fw-bold mt-1 ">
        <li class="list-group-item text-primary">Annual Ceiling : <br> {{ ceiling.annualCeiling | number }} </li>
        <li class="list-group-item text-primary">Rem. Annual Ceiling : <br> {{ ceiling.remainingAnnual | number}} </li>
        <li class="list-group-item text-primary">Master Ceiling : <br> {{ ceiling.masterCeiling }} </li>
        <li class="list-group-item text-primary">Rem. Master Ceiling : <br> {{ ceiling.remainingMaster | number}} </li>
        <li class="list-group-item text-primary">Benefit Ceiling : <br> {{ ceiling.benefitCeiling | number }} </li>
        <li class="list-group-item text-primary">Rem. Benefit Ceiling : <br> {{ ceiling.remainingBenefit | number }} </li>
      </ul>
    </div>

  </div>

  <span class="badge rounded-pill bg-warning mb-3 fs-5">Approval Services</span>

  <div class="row">
    <table class="table table-bordered table-responsive table-sm">
      <thead class="fst-italic text-center">
        <tr>
          <th>Service Name</th>
          <th>Quantity</th>
          <th>Unit Amt</th>
          <th>Service Amt</th>
          <!-- <th>Copayment Per</th> -->
          <th>Copayment Amt</th>
          <th>Dosage</th>
          <th>Dosgae Per Day</th>
          <th>Dosgae Times</th>
          <th>Dosgae Days</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of approval.approvalItems" class="text-center"
          [class.text-decoration-line-through]="item.status === rejected">
          <td>{{item.serviceName}}</td>
          <td>{{item.serviceQnt}}</td>
          <td>{{item.serviceUnitAmt}}</td>
          <td>{{item.serviceTotalAmt}}</td>
          <!-- <td>{{item.serviceCopaymentPer}}</td> -->
          <td>{{item.serviceCopaymentAmt}}</td>
          <td>{{item.dosage}}</td>
          <td>{{item.dosagePerDay}}</td>
          <td>{{item.dosageTime}}</td>
          <td>{{item.dosageDays}}</td>
          <td class="text-center fst-italic">
            <button *ngIf="item.status === rejected" type="button" class="btn btn-outline-success btn-sm"
              (click)="toggleItem(item)">Accept</button>
            <button *ngIf="item.status !== rejected" type="button" class="btn btn-outline-danger btn-sm"
              (click)="toggleItem(item)">reject</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row fw-bolder fst-italic text-center text-primary">
    <div class="col-md-6">
      <p class="mx-auto">Total Approval Amount: {{approval.approvalAmt}}</p>
    </div>
    <div class="col-md-6">
      <p class="mx-auto">Total Copayment Amount: {{approval.approvalCopaymentAmt}}</p>
    </div>

  </div>

</div>
