<div class="container-fluid" *ngIf="(approval$ | async) as approval">
  <div class="row mb-2">
    <table class="table">
      <thead>
        <tr>
          <th>Member Name</th>
          <th>Card Number</th>
          <th>Customer Name</th>
          <th>Plan Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{approval.memberName}}</td>
          <td>{{approval.cardNumber}}</td>
          <td>{{approval.customerName}}</td>
          <td>{{approval.planName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mb-2">
    <table class="table">
      <thead>
        <tr>
          <th>Approval Date</th>
          <th>Approval Number</th>
          <th>Claim Number</th>
          <th>Provider Name</th>
          <th>Provider Category</th>
          <th>Diagnosis</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{approval.approvalDate | date}}</td>
          <td>{{approval.approvalNumber}}</td>
          <td>{{approval.claimNumber}}</td>
          <td>{{approval.providerName}}</td>
          <td>{{approval.providerCatName}}</td>
          <td>{{approval.diagnosis}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <label for="planMaster" class="form-label">Masters Benefits</label>
      <select class="form-select" id="planMaster" name="planMaster" [(ngModel)]="selectedMaster"
        (ngModelChange)="fetchBenefits()">
        <option [value]="selectedMaster" disabled hidden>Select</option>
        <option *ngFor="let master of (planMasterBenefits$ | async)" [ngValue]="master">
          {{master.masterBenefitName}}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="planBenefit" class="form-label">Benefits</label>
      <select class="form-select" id="planBenefit" name="planBenefit" [(ngModel)]="selectedBenefit">
        <option [value]="selectedBenefit" disabled hidden>Select</option>
        <option *ngFor="let benefit of (planBenefits$ | async)" [ngValue]="benefit">
          {{benefit.benefitName}}
        </option>
      </select>
    </div>
  </div>
  <div class="row mb-2">
    <table class="table">
      <thead>
        <tr>
          <th>Service Name</th>
          <th>Quantity</th>
          <th>Unit Amt</th>
          <th>Service Amt</th>
          <th>Copayment Per</th>
          <th>Copayment Amt</th>
          <th>Dosage</th>
          <th>Dosgae Per Day</th>
          <th>Dosgae Times</th>
          <th>Dosgae Days</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of approval.approvalItems">
          <td>{{item.serviceName}}</td>
          <td>{{item.serviceQnt}}</td>
          <td>{{item.serviceUnitAmt}}</td>
          <td>{{item.serviceTotalAmt}}</td>
          <td>{{item.serviceCopaymentPer}}</td>
          <td>{{item.serviceCopaymentAmt}}</td>
          <td>{{item.dosage}}</td>
          <td>{{item.dosagePerDay}}</td>
          <td>{{item.dosageTime}}</td>
          <td>{{item.dosageDays}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row fw-bold">
    <p class="col-md-4">Total Approval Amount : {{approval.approvalAmt}}</p>
    <p class="col-md-4">Copayment Percentage : {{approval.approvalCopaymentPer}}</p>
    <p class="col-md-4">Total Copayment Amount : {{approval.approvalCopaymentAmt}}</p>
  </div>
</div>
