<div *ngIf="claimPhoto" class="container-fluid">

  <span class="badge rounded-pill bg-warning mb-3 fs-5 start">Photo Master</span>

  <div class="row mb-3">
    <div class="col">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Provider</th>
            <th>Client</th>
            <th>User Name</th>
            <th>Stamp Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{claimPhoto.providerName}}</td>
            <td>{{claimPhoto.clientName}}</td>
            <td>{{claimPhoto.userName}}</td>
            <td>{{claimPhoto.stampDate | date}}</td>
            <td>{{claimPhoto.onlineStatusName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <span class="badge rounded-pill bg-warning mb-3 fs-5 start">Photo Details</span>

  <div class="row mb-3">
    <div class="col">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Service Name</th>
            <th>Service Type</th>
            <th>Service Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let d of claimPhoto.claimPhotoDetails">
          <tr [class.text-decoration-line-through]="d.statusId === EStatus.rejected">
            <td>{{d.serviceName}}</td>
            <td>{{d.typeName}}</td>
            <td>{{d.quantity}}</td>
            <td *ngIf="showActionBtns()" class="text-center fst-italic">
              <button *ngIf="d.statusId === EStatus.rejected" type="button" class="btn btn-outline-success btn-sm"
                (click)="toggleStatus(d)">Accept</button>
              <button *ngIf="d.statusId !== EStatus.rejected" type="button" class="btn btn-outline-danger btn-sm"
                (click)="toggleStatus(d)">reject</button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col" *ngIf="showActionBtns()">
      <div class="d-grid gap-1 d-md-flex justify-content-md-center">
        <button class="btn btn-sm btn-success  col-md-1" type="button"
          (click)="onClick(EStatus.accepted)">Accept</button>
        <button class="btn btn-sm btn-danger col-md-1" type="button" (click)="onClick(EStatus.rejected)">Reject</button>
      </div>
    </div>

    <div class="col" *ngIf="claimPhoto.onlineStatusName === EStatus.Accepted && showPrintBtn()">
      <div class="d-grid gap-1 d-md-flex justify-content-md-center">
        <button type="button" class="btn btn-sm btn-warning col-md-1" (click)="print()">
          <i class="bi bi-printer"></i> Print
        </button>
      </div>
    </div>
  </div>

</div>
