<div class="row">
  <button type="button" class="col-md-1 mb-2 btn btn-success btn-sm" (click)="newSelection()">
    <i class="bi bi-plus-lg"></i> New
  </button>
</div>

<!-- Approval Item table -->
<div class="row">
  <table *ngIf="approvalItems.length > 0" class="table table-bordered table-hover table-responsive table-sm">
    <thead class="text-center align-middle table-primary">
      <tr>
        <th>Service</th>
        <th>Qty</th>
        <ng-container *ngIf="provider.providerCatId === 2">
          <th>Dose</th>
          <th>Dose Days</th>
          <th class="text-nowrap">Dose Per-Day</th>
          <th>Dose Time</th>
        </ng-container>
        <th> </th>
      </tr>
    </thead>
    <tbody class="text-center" *ngFor="let item of approvalItems; index as i; trackBy: trackItems;">
      <tr>
        <td class="col text-start">
          <div *ngIf="!item.creationMode">
            {{item.serviceName}}
          </div>
          <div *ngIf="item.creationMode">
            <app-ng-select #ngSelectItems [id]='"ngSelectItems"' [name]='"ngSelectItems"' [items]="(priceList$ | async)"
              [isLoading]="loadingServices" (searching)="getProviderPriceList($event)"
              (onSelecting)="getSelectedService($event)">
            </app-ng-select>
          </div>
        </td>
        <td class="col-md-1">
          <div *ngIf="!(item.editMode || item.creationMode)">
            {{item.quantity}}
          </div>
          <div *ngIf="item.editMode || item.creationMode">
            <input id="qty" name="quantity" type="number" class="form-control form-control-sm text-center"
              [(ngModel)]="approvalItem.quantity" #quantity="ngModel" required>
            <div *ngIf="!quantity.valid && quantity.touched" class="text-danger">
              <div *ngIf="quantity.errors?.required">Quantity is required.</div>
            </div>
          </div>
        </td>
        <ng-container *ngIf="provider.providerCatId === providerCatEnum.pharmacies">
          <td class="col-md-1">
            <div *ngIf="!(item.editMode || item.creationMode)">
              {{item.dosage}}
            </div>
            <div *ngIf="item.editMode || item.creationMode">
              <input id="dosage" name="dosage" type="number" class="form-control form-control-sm text-center"
                [(ngModel)]="approvalItem.dosage">
            </div>
          </td>
          <td class="col-md-1">
            <div *ngIf="!(item.editMode || item.creationMode)">
              {{item.dosageDays}}
            </div>
            <div *ngIf="item.editMode || item.creationMode">
              <input id="dosageDays" name="dosageDays" type="number" class="form-control form-control-sm text-center"
                [(ngModel)]="approvalItem.dosageDays">
            </div>
          </td>
          <td class="col-md-1">
            <div *ngIf="!(item.editMode || item.creationMode)">
              {{item.dosagePerDay}}
            </div>
            <div *ngIf="item.editMode || item.creationMode">
              <input id="dosagePerDay" name="dosagePerDay" type="number"
                class="form-control form-control-sm text-center" [(ngModel)]="approvalItem.dosagePerDay">
            </div>
          </td>
          <td class="col-md-1">
            <div *ngIf="!(item.editMode || item.creationMode)">
              {{item.dosageTime}}
            </div>
            <div *ngIf="item.editMode || item.creationMode">
              <input id="dosageTime" name="dosageTime" type="number" class="form-control form-control-sm text-center"
                [(ngModel)]="approvalItem.dosageTime">
            </div>
          </td>
        </ng-container>
        <td class="col-md-1">
          <div>
            <i *ngIf="!(item.editMode || item.creationMode)"
              class="bi bi-pencil-square btn btn-outline-primary btn-sm border-0" title="edit"
              (click)="onEdit(item, i)">
            </i>
            <i *ngIf="!item.editMode" class="bi bi-trash btn btn-outline-danger btn-sm border-0" title="delete"
              (click)="remove(item)"></i>
            <i *ngIf="item.editMode" class="bi bi-x-lg btn-outline-danger btn-sm border-0" title="cancel"
              (click)="onCanelEdit(item)"></i>
            <i *ngIf="item.editMode || item.creationMode" class="bi bi-check-lg btn btn-outline-success btn-sm border-0"
              title="save" (click)="updateItem(item, i)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
