<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active current">Home</a>
        <a class="nav-link" routerLink="/create-approval" routerLinkActive="active current">Add Approval</a>
        <a class="nav-link" routerLink="/pending-approvals" routerLinkActive="active current">Pending Approvals</a>
        <!-- <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul> -->
      </div>
      <div class="navbar-nav d-flex ms-auto">
        <a *ngIf="!isAuthenticated" class="nav-link" routerLink="/log-in" routerLinkActive="active current">Login</a>
        <a *ngIf="isAuthenticated" class="nav-link" routerLink="/log-in" routerLinkActive="active current"
          (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
