<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img class="img-thumbnail img-responsive logo" src="assets/images/Logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active current">Home</a>
        <a *ngIf="!isProviderAdmin()" class="nav-link" routerLink="/create-approval"   routerLinkActive="active current">Add Approval</a>
        <a *ngIf="!isProviderAdmin()" class="nav-link" routerLink="/pending-approvals" routerLinkActive="active current">Pending Approvals</a>
        <a *ngIf="isProviderAdmin()" class="nav-link" routerLink="/dashboard" routerLinkActive="active current">Dashboard</a>
        <a class="nav-link" routerLink="/claim-photo" routerLinkActive="active current">Claim Photos</a>
      </div>
      <div class="navbar-nav d-flex ms-auto">
        <ul *ngIf="isAuthenticated" class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.email }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/sign-up" routerLinkActive="active current">Register</a>
              <a class="dropdown-item" routerLinkActive="active current" (click)="logout()">Logout</a>
            </ul>
          </li>
        </ul>
        <a *ngIf="!isAuthenticated" class="nav-link" routerLink="/log-in" routerLinkActive="active current">Login</a>
      </div>
    </div>
  </div>
</nav>
