<div class="row mb-1">
  <div class="col text-center " *ngIf="provider">
    <h5 class="fs-4 fst-italic fw-bolder badge rounded-pill bg-success pb-3">
      {{provider.name}}
    </h5>
  </div>
</div>

<form #approvalForm="ngForm" (ngSubmit)="onSubmit(approvalForm)">
  <!-- Approval Master -->
  <div class="accordion mb-3">
    <div class="accordion-item">
      <h6 class="accordion-header" id="dataHeading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseData"
          aria-expanded="true" aria-controls="collapseOne">
          <span class="text-warning fst-italic fw-bolder fs-4">Approval Data</span>
        </button>
      </h6>
      <div id="collapseData" class="accordion-collapse collapse show" aria-labelledby="dataHeading">
        <div class="accordion-body offWhite">
          <div class="row mb-1">
            <div class="col-md-3">
              <label for="cardNum" class="form-label">Card Number</label>
              <input id="cardNum" name="cardNum" type="text" class="form-control form-control-sm"
                [(ngModel)]="approval.cardNumber" (change)="getMemberInfo()">
            </div>
            <div class="col-md-3">
              <label for="claimFormNum" class="form-label">Claim Form Number</label>
              <input id="claimFormNum" name="claimNum" type="text" class="form-control form-control-sm"
                [(ngModel)]="approval.claimNumber" (change)="getClaimProvider()">
            </div>
            <div class="col-md-3">
              <label for="date" class="form-label">Approval Date</label>
              <input id="date" name="date" type="datetime-local" class="form-control form-control-sm"
                [(ngModel)]="approval.approvalDate">
            </div>
            <div class="col-md-3">
              <label for="diagnosis" class="form-label">Diagnosis</label>
              <app-ng-select [items]="(diagnosis | async)" [isLoading]="loadingDiagnosis"
                (searching)="getDiagnosis($event)" (selectedItem)="getSelectedDiagnosis($event)"></app-ng-select>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-md-3">
              <label for="member" class="form-label">Member</label>
              <input id="member" value={{member.memberName}} type="text" class="form-control form-control-sm" readonly>
            </div>
            <div class="col-md-3">
              <label for="customer" class="form-label">Customer</label>
              <input id="customer" value={{member.customerName}} type="text" class="form-control form-control-sm"
                readonly>
            </div>
            <div class="col-md-3">
              <label for="status" class="form-label">Status</label>
              <input id="status" [class.text-danger]="!member.isActive" value={{member.statusName}} type="text"
                class="form-control form-control-sm fw-bold text-info " readonly>
            </div>
            <div class="col-md-3">
              <label for="claimProvider" class="form-label">Claim Provider</label>
              <input id="claimProvider" type="text" class="form-control form-control-sm" [value]="claimProviderName"
                readonly>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label for="notes" class="form-label">Provider Notes</label>
              <textarea class="form-control form-control-sm" name="providerNotes" [(ngModel)]="approval.printedNotes"
                id="notes"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Approval Items -->
  <div class="accordion mb-3">
    <div class="accordion-item">
      <h2 class="accordion-header" id="approvalServices">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseServices"
          aria-expanded="true" aria-controls="collapseOne">
          <span class="text-warning fst-italic fw-bolder fs-4">Approval Services</span>
        </button>
      </h2>
      <div id="collapseServices" class="accordion-collapse collapse show" aria-labelledby="approvalServices">
        <div class=" accordion-body offWhite">
          <div class="row mb-1">
            <app-create-approval-items [serviceProviderId]="approval.serviceProviderId"
              (getApprovalItems)="getItems($event)">
            </app-create-approval-items>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Submit Button -->
  <div class="row  justify-content-center">
    <button type="submit" class="col-md-2 btn btn-success" [disabled]="!(member.isActive)">Create Approval</button>
  </div>
</form>
