<div ngModelGroup="ngSelect">
    <ng-select
        id="ngSelectId"
        name="id"
        placeholder="search with 3 letters"
        bindLabel="name"
        bindValue="id"
        [items]="itemsBuffer"
        [virtualScroll]="true"
        [loading]="loading"
        (scroll)="onScroll($event)"
        (scrollToEnd)="onScrollToEnd()"
        (search)="onSearch($event)"
        (change)="onChange($event)"
        ngModel
        required>
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <div title="{{item.name}}">{{item.name}}</div>
        </ng-template>
    </ng-select>
</div>

