<div ngModelGroup="ngSelectGroup" #ngSelectGroup="ngModelGroup">

    <ng-select #ngSelectControl
        id={{id}}
        name={{name}}
        bindLabel="name"
        placeholder="search with 3 letters"
        loadingText = 'Loading...'

        [items]="itemsBuffer"
        [virtualScroll]="true"
        [loading]="isLoading"
        [compareWith]="compareFn"

        (scroll)="onScroll($event)"
        (scrollToEnd)="onScrollToEnd()"
        (search)="onSearch($event)"
        (change)="onChange($event)"

        [(ngModel)]="selectedItem"

        required
        >
        <ng-template ng-option-tmp let-item="item" let-index="index">
            <div title="{{item.name}}">{{item.name}}</div>
        </ng-template>
    </ng-select>

</div>

