<div #modal class="modal fade" id="approvalHistoryId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="bsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header text-warning table-info fst-italic fw-bolder">
        <h5 class="modal-title" id="bsModalLabel">Approvals History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-content>
          <!-- Content Rendered Here. -->
        </ng-content>
      </div>
    </div>
  </div>
</div>
