<div class="row container-fluid">
  <div class="col">
    <table class="table table-responsive table-sm table-borderless">
      <thead>
        <tr>
          <td>
            <div class="header-space">&nbsp;</div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="content">
              <router-outlet></router-outlet>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <div class="footer-space">&nbsp;</div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


<!-- <div class="row container-fluid header">
  <img class="col mt-2 mx-auto d-block mb-0" src="assets/images/HeaderLogo.png">
</div> -->

<div class="footer container-fluid ">
  <!-- <div class="row mb-4 ms-0 me-5">
    <img class="col-md-10" src="assets/images/FooterLogo.png" style="height:50px">
  </div> -->

  <div class="row fw-bold fst-italic ms-0 me-5" style="font-size: x-small;">
    <p class="col text-start">{{date | date}}</p>
    <p class="col text-end">Powered By SilverApps Info@Silver-apps.com</p>
  </div>
</div>
