/* You can add global styles to this file, and also import other style files */
.offWhite {
  background-color:#eee;
}

@media print {
  /* app-root > * { display: none; } */
  app-root app-navbar { display: none; }
  app-root app-pending-approval-details { display: none; }
  app-root app-approval-print-template { display: block; }
}
