<span class="badge rounded-pill bg-warning mb-3 fs-5">Approvals List</span>

<div class="row">

  <div class="col" *ngIf="pendingApprovals$ | async as approvals; else loadingSpinner">

    <table class="table table-striped table-hover table-bordered">
      <thead class="text-center">
        <tr>
          <th>Member</th>
          <th>Customer</th>
          <th>Approval Date</th>
          <th>Provider</th>
          <th>Amount</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let app of approvals">
          <td>{{app.memberName}}</td>
          <td>{{app.customerName}}</td>
          <td>{{app.approvalDate | date}}</td>
          <td>{{app.providerName}}</td>
          <td>{{app.approvalAmt}}</td>
          <td>{{app.onlineStatus}}</td>
          <td>
            <a [routerLink]="['/pending-approval-details', app.id]" class="link-primary">Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loadingSpinner>
    <div class="text-center">
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>

</div>
